<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Atualização sobre suas entregas</title>
</head>
<body style="margin: 0; padding: 0; background-color: #f2f2f2;">
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #f2f2f2;">
    <tr>
        <td align="center" style="padding: 40px 0;">
            <table width="500" cellpadding="0" cellspacing="0" border="0"
                   style="background-color: 	#f8f8ff; box-shadow: 0 20px 20px rgba(0,0,0,0.1); font-family: Arial, sans-serif; color: #2a2e29;">
                <!-- Cabeçalho com cor diferente -->
                <tr>
                    <td style="background-color: #5fc041; color: #ffffff; padding: 20px;">
                        <h2 style="margin: 0; text-align: center">Atualização sobre suas entregas</h2>
                    </td>
                </tr>

                <!-- Corpo principal -->
                <tr>
                    <td style="padding: 30px; text-align: justify;">
                        <p>Olá, ${userName}! 👋</p>
                        <p>Estamos passando para informar que as uma de suas entregas foi atualizado para <strong>pagamento efetuado</strong></p>
                        <p>Confira essa atualização no seu perfil, no board <strong>Pagamentos</strong></p>
                        <p>Clique no botão para fazer o login e acompanhar as atualizações</p>

                        <div style="text-align: center; margin: 20px 0;">
                            <a href="${confirmationUrl}"
                               style="display: inline-block; padding: 12px 24px; background-color: #4d9138; color: white; text-decoration: none; border-radius: 5px; font-weight: bold;">
                                Ir para Login
                            </a>
                        </div>
                        <p style="margin-top: 20px;">Obrigado pelo seu compromisso e parceria.</p>
                        <footer style="margin-top: 30px; font-size: 12px; color: #999; text-align: center">Este é um email automático. Por favor, não responda<br>
                        @ 2025 Sistema Integrado de Alimentação Escolar</footer>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
